numpy==1.26.4
pandas==2.1.1
scipy==1.15.2
tqdm==4.67.1
regex==2024.11.6
pathlib==1.0.1
scikit-learn==1.6.1
statsmodels==0.14.4
transformers==4.50.3
torch==2.6.0
sentence-transformers==4.0.2
bert-score==0.3.13
rouge-score==0.1.2
datasets==3.5.1
evaluate==0.4.3
openai==1.70.0
spacy==3.8.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
language_tool_python==2.9.2
nltk==3.9.1
PassivePy==0.2.21
matplotlib==3.7.1
seaborn==0.13.2
tikzplotlib==0.10.1
pyyaml==6.0.2
jsonschema==4.23.0
openpyxl==3.1.5
requests==2.32.3
joblib==1.4.2