huggingface-hub
numpy==1.26.1
pandas==2.1.1
# protobuf==4.25.2
# sentencepiece==0.1.99
tokenizers==0.14.1
torch
tqdm==4.66.1
transformers==4.34.0
spacy
bert-score
sentence-transformers
language-tool-python